<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{add_expo}">Add Exposition</title>
<!--    <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
</head>
<body>
<!--<div class="container" th:fragment="addExpo">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <div class="container-fluid">-->
<!--            <div th:if="${errMsg}">-->
<!--                <div th:text="#{${errMsg}}"></div>-->
<!--            </div>-->
<!--            <form th:action="@{/admin/addExpo}" method="post" th:object="${expo}">-->
<!--                &lt;!&ndash; Expo name &ndash;&gt;-->
<!--                <div class="form-outline mb-4">-->
<!--                    <input type="text" id="expoName" class="form-control" th:field="*{name}" placeholder="new expo name"/>-->
<!--                    <label class="form-label" for="expoName" th:text="#{expo_name}"></label>-->
<!--                </div>-->

<!--                &lt;!&ndash; Expo Date &ndash;&gt;-->
<!--                <div class="form-outline mb-4">-->
<!--                    <input type="text" id="expoDate" class="form-control" th:field="*{expoDate}" placeholder="m/dd/yy"/>-->
<!--                    <label class="form-label" for="expoDate" th:text="#{expo_date}"></label>-->
<!--                </div>-->
<!--&lt;!&ndash;                    <div class='form-outline col-sm-6'>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                            <label for="datetime">Date and Time</label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class='input-group date' id='datetime'>&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type='text' class="form-control" />&ndash;&gt;-->
<!--&lt;!&ndash;                                <span class="input-group-addon">&ndash;&gt;-->
<!--&lt;!&ndash;                                  <span class="glyphicon glyphicon-calendar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                              </span>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->


<!--                &lt;!&ndash; Expo Time &ndash;&gt;-->
<!--                <div class="form-outline mb-4">-->
<!--                    <input type="text" id="expoTime" class="form-control" th:field="*{expoTime}" placeholder="9:00 AM"/>-->
<!--                    <label class="form-label" for="expoTime" th:text="#{expo_time}"></label>-->
<!--                </div>-->

<!--                &lt;!&ndash; Expo Price &ndash;&gt;-->
<!--                <div class="form-outline mb-4">-->
<!--                    <input type="text" id="expoPrice" class="form-control" th:field="*{price}" placeholder="100.00"/>-->
<!--                    <label class="form-label" for="expoPrice" th:text="#{expo_price}"></label>-->
<!--                </div>-->

<!--                &lt;!&ndash; Expo Sold &ndash;&gt;-->
<!--                <div class="form-outline mb-4">-->
<!--                    <input type="text" id="expoSold" class="form-control"-->
<!--                           th:field="*{statistic.sold}" placeholder="0"/>-->
<!--                    <label class="form-label" for="expoSold" th:text="#{sold_tickets}"></label>-->
<!--                </div>-->
<!--                &lt;!&ndash; Expo Tickets &ndash;&gt;-->
<!--                <div class="form-outline mb-4">-->
<!--                    <input type="text" id="expoTickets" class="form-control"-->
<!--                           th:field="*{statistic.tickets}" placeholder="100"/>-->
<!--                    <label class="form-label" for="expoTickets" th:text="#{available_tickets}"></label>-->
<!--                </div>-->



<!--                <%&#45;&#45;               All  Halls&#45;&#45;%>-->
<!--                <div class="dropdown col-4">-->
<!--                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"-->
<!--                            data-bs-toggle="dropdown" aria-expanded="false" th:text="#{choose_halls}">-->
<!--                    </button>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">-->
<!--                            <th:block th:each="hall : ${halls}">-->
<!--                                <input type="checkbox" th:name="hal" th:value="${hall.idHall}"/>-->
<!--                                <label th:text="${hall.name}"></label>-->
<!--                            </th:block>-->
<!--&lt;!&ndash;                            <li th:each="hall : ${halls}">&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="checkbox" name="hal" th:text="${hall.name}" th:field="*{halls}">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                <p th:text="${hall.name}"></p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            </li>&ndash;&gt;-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="dropdown col-4">-->
<!--                    <label class="form-label" th:text="#{choose_theme}"></label>-->
<!--                </div>-->

<!--                &lt;!&ndash; Expo Theme name &ndash;&gt;-->
<!--&lt;!&ndash;                <div class="form-outline mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <select class="form-select" aria-label="Default select example" name="idTheme" th:each="themeItem : ${themes}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <option th:value="${themeItem.idTheme}" name="theme" th:field="*{id}">&ndash;&gt;-->
<!--&lt;!&ndash;                            <p th:text="${themeItem.name}" th:field="*{name}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                        </option>&ndash;&gt;-->
<!--&lt;!&ndash;                    </select>&ndash;&gt;-->
<!--&lt;!&ndash;                    <label class="form-label">Choose theme</label>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->



<!--&lt;!&ndash;                    <tr th:each="currTheme, stat : *{themes}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <td><input type="checkbox"&ndash;&gt;-->
<!--&lt;!&ndash;                                   th:field="*{themes[__${stat.index}__].idTheme}"&ndash;&gt;-->
<!--&lt;!&ndash;                                   th:value="${currTheme.getIdTheme()}"&ndash;&gt;-->
<!--&lt;!&ndash;                                   th:checked="${currTheme.getName()}" >&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--                    <select th:field="*{theme.idTheme}">-->
<!--                        <option th:each="item : ${themes}"-->
<!--                                th:value="${item.idTheme}"-->
<!--                                th:text="${item.name}">-->
<!--                        </option>-->
<!--                    </select>-->

<!--                <button type="submit" class="btn btn-primary btn-sm" th:text="#{add}"></button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

<div th:insert="common/fragments.html :: scriptUpdateHead"></div>
<div th:if="${errMsg}" th:text="#{${errMsg}}"></div>
<form th:method="post" th:action="@{/admin/addExpo}" th:object="${expo}">
    <div class="card-body">
        <h5 class="card-title" th:text="#{expo_name}"></h5>
        <input type="hidden" th:field="*{id}" th:value="${expo.id}">
        <input type="text" class="form-control" th:field="*{name}"/>
        <h6 style="color: red" class="text-center"
            th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></h6>
        <h5 class="card-title" th:text="#{expo_date}"></h5>

        <input type="text" id="datepick"  class="form-control" th:field="*{expoDateStr}"/>
        <h6 style="color: red" class="text-center"
            th:if="${#fields.hasErrors('expoDateStr')}" th:errorclass="error" th:errors="*{expoDateStr}"></h6>
        <h5 class="card-title" th:text="#{expo_time}"></h5>
        <input type="time" class="form-control" th:field="*{expoTimeStr}"/>
        <h6 style="color: red" class="text-center"
            th:if="${#fields.hasErrors('expoTimeStr')}" th:errorclass="error" th:errors="*{expoTimeStr}"></h6>
        <h5 class="card-title" th:text="#{expo_price}"></h5>
        <input type="number" class="form-control" th:text="${expo.price}" th:field="*{price}"/>
        <h6 style="color: red" class="text-center"
            th:if="${#fields.hasErrors('price')}" th:errorclass="error" th:errors="*{price}"></h6>
        <h5 class="card-title" th:text="#{sold_tickets}"></h5>
        <input type="number" class="form-control" th:field="*{statistic.sold}"/>c
        <h6 style="color: red" class="text-center"
            th:if="${#fields.hasErrors('statistic.sold')}" th:errorclass="error" th:errors="*{statistic.sold}"></h6>
        <h5 class="card-title" th:text="#{choose_halls}"></h5>

        <div class="form-group">
            <ul>
                <li th:each="hall:${halls}">
                    <div class="ui checkbox">
                        <input type="checkbox" th:field="*{halls}" th:value="${hall.idHall}">
                        <label th:text="${hall.name}"></label>
                    </div>

                </li>
            </ul>
        </div>
        <h5 class="card-title" th:text="#{choose_theme}"></h5>
        <div class="form-group">
            <select class="form-control selectpicker" th:field="*{theme.idTheme}" id="theme">
                <option th:each="item : ${themes}"
                        th:value="${item.idTheme}"
                        th:text="${item.name}">
                </option>
            </select>
            <h5 class="card-title" th:text="#{available_tickets}"></h5>
            <input type="hidden" th:field="*{statistic.id}" th:value="${expo.statistic.id}">
            <input type="number" class="form-control" th:field="*{statistic.tickets}"></p>
            <h6 style="color: red" class="text-center"
                th:if="${#fields.hasErrors('statistic.tickets')}" th:errorclass="error" th:errors="*{statistic.tickets}"></h6>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{add}"></button>
    </div>
</form>









<!--<script>-->
<!--    $(function () {-->
<!--        $('#datetime').datetimepicker();-->
<!--    });-->
<!--</script>-->
<!--<script type="text/javascript">-->
<!--    $(function () {-->
<!--        $('#dateformat').datetimepicker({-->
<!--            format:'M/dd/yy'-->
<!--        });-->
<!--    });-->
<!--</script>-->

<!--<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js referrerpolicy="no-referrer"></script>-->
<!--<script src=https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>-->
<!--<script src=https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>-->
</body>
</html>