<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
<body>
<div class="container">
    <nav th:fragment="navbarAdmin" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:text="#{Expos}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{${'/admin/expos'}(size=5,sortBy='statistic_sold')}" th:text="#{Statistic}"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{Lang}">
                    </a>
                    <div th:insert="common/fragments::langSwitch"></div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{More}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" th:href="@{/admin/themes}" th:text="#{themes}"></a>

                        <a class="dropdown-item" th:href="@{/admin/halls}" th:text="#{halls}"></a>

                        <a class="dropdown-item" th:href="@{/admin/expos}" th:text="#{Expos}"></a>

                        <a class="dropdown-item" th:href="@{/admin/users}" th:text="#{all_users}"></a>
                    </div>
                </li>
            </ul>
            <form th:fragment="searchItems" class="form-inline my-2 my-lg-0" th:action="@{/admin/search}" th:method="get">
                <input class="form-control mr-sm-2" type="search" th:name="search" th:placeholder="#{search}" aria-label="Search">
                <select class="selectpicker" th:name="selected">
                    <option th:value="theme" th:text="#{by_theme}"></option>
                    <option th:value="date" th:text="#{by_date}"></option>
                </select>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">ok</button>
            </form>
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form method="post" th:action="@{/logout}">
                        <button type="submit" class="logout btn btn-link link-light" th:text="#{Logout}"></button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div th:if="${errMSg}" th:text="#{${errMSg}}" style="color: red">
    </div>
<!--    <a th:href="@{/admin/addExpo}">add expo</a>-->

    <div th:if="${expos != null}">
        <div th:insert="index/expos.html::allExpos"></div>
    </div>
    <div th:if="${expo != null}">
        <div th:insert="index/show.html :: showExpo"></div>
    </div>
    <div th:if="${halls != null}">
        <div th:insert="admin/halls.html :: halls"></div>
    </div>
    <div th:if="${themes != null}">
        <div th:insert="admin/themes.html :: themes"></div>
    </div>
    <div th:if="${users != null}">
        <div th:insert="admin/users.html :: users"></div>
    </div>
    <div th:if="${searchedExpos != null}">
        <div th:insert="index/searched.html :: searchedList"></div>
    </div>

</div>
<div th:insert="common/fragments.html :: scriptsAdminHome"></div>
</body>
</html>