<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{themes}"></title>
    <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container" th:fragment="themes">
    <table class="table table-info table-hover">
        <h4 class="text-center" th:text="#{themes}"></h4>
        <div class="input-group mb-3" th:object="${themeObj}">
            <h6 style="color: red" class="text-center"
                th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></h6>
        </div>
        <div th:insert="common/fragments.html :: errMsg"></div>
        <thead>
        <tr>
            <th scope="col" th:text="#{theme}"></th>
            <th scope="col">
<!--                Add theme-->
                <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#addTheme" aria-expanded="false" aria-controls="addTheme" th:text="#{add_theme}">
                </button>
                <div class="collapse" id="addTheme">
                    <div class="card card-body">
                        <form method="post" th:action="@{/admin/themes}" th:object="${themeObj}">
                            <div class="input-group mb-3">
                                <input type="text" th:field="*{name}" class="form-control" th:placeholder="#{theme}"
                                       aria-label="new theme">
                                <button class="btn btn-info btn-sm" type="submit" th:text="#{add}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody th:each="theme : ${themes}">
            <tr>
                <td th:text="${theme.name}"></td>
                <td>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
<!--                             Update theme-->
                            <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse"  th:attr="data-bs-target='#updateTheme'+${theme.idTheme}"  aria-expanded="false" th:text="#{update}">
                            </button>
                            <div class="collapse" th:attr="id='updateTheme'+${theme.idTheme}" >
                                <div class="card card-body">
                                    <form th:method="PATCH" th:action="@{/admin/themes/{id}(id=${theme.idTheme})}" th:object="${themeObj}">
                                        <div class="input-group mb-3">
                                            <input type="text" th:field="*{name}" class="form-control" th:placeholder="#{theme}"
                                                   aria-label="new theme">
                                            <button class="btn btn-info btn-sm" type="submit" th:text="#{update}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <form th:method="DELETE" th:action="@{/admin/themes/{id}(id=${theme.idTheme})}">
                                    <button type="submit" class="btn btn-danger btn-sm" th:text="#{delete}"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!--        Pagination halls-->
    <div class="text-center">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item" th:if="${page.getPageNumber gt 1}">
                    <a class="page-link" th:href="@{${'/admin/themes'}(page=${(page.getPageNumber()) - 1},size=${page.getPageSize()})}" tabindex="-1" aria-disabled="true" th:text="#{Prev}"></a>
                </li>
                <li class="page-item"><a class="page-link" th:href="@{${'/admin/themes'}(size=2)}">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" th:href="@{${'/admin/themes'}(page=2,size=2)}">2</a>
                </li>
                <li c><a class="page-link" th:href="@{${'/admin/themes'}(page=3,size=2)}">3</a></li>
                <li class="page-item" th:classappend="${(page.getPageNumber lt numberOfPages) ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{${'/admin/themes'}(page=${page.getPageNumber() + 1},size=${page.getPageSize()})}" th:text="#{Next}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    jQuery('document').ready(function() {
        jQuery('#my-accordion').on('show hide', function() {
            jQuery(this).css('height', 'auto');
        });
        jQuery('#my-accordion').collapse({ parent: true, toggle: true });
    });
</script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js referrerpolicy="no-referrer"></script>
<script src=https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src=https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>