<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{Expos}"></title>
</head>
<div th:insert="common/fragments.html :: headerExpos"></div>
<body>
<div th:if="${errMSg}" th:text="#{${errMSg}}" style="color: red">
</div>

<table th:fragment="searchedList" class="table table-light table-hover">
    <h4 class="text-center" th:text="#{Expos}"></h4>
    <thead>
    <tr>
        <th scope="col" th:text="#{expo_name}"></th>
        <th scope="col" th:text="#{expo_date}"></th>
        <th scope="col" th:text="#{expo_time}"></th>
        <th scope="col" th:text="#{expo_price}"></th>
        <th scope="col" th:text="#{sold_tickets}"></th>
        <th scope="col" th:text="#{halls}"></th>
        <th scope="col" th:text="#{theme}"></th>
        <th scope="col" th:text="#{available_tickets}"></th>
        <th scope="col" th:text="#{status}"></th>
    </tr>
    </thead>
    <tbody th:each="expo : ${searchedExpos}">
    <tr>
        <div sec:authorize="hasAuthority('ADMIN')">
            <td>
                <a th:href="@{/admin/search/{id}(id=${expo.id})}" th:text="${expo.name}"></a>
            </td>
        </div>
        <div sec:authorize="hasAuthority('USER')">
            <td>
                <a th:href="@{/user/search/{id}(id=${expo.id})}" th:text="${expo.name}"></a>
            </td>
        </div>
        <div sec:authorize="hasAuthority('ROLE_ANONYMOUS')">
            <td th:text="${expo.name}"></td>
        </div>

        <td th:text="${expo.expoDate.format(session.dateFormat)}"></td>
        <td th:text="${expo.expoTime.format(session.timeFormat)}"></td>
        <td th:text="${expo.price}"></td>
        <td th:text="${expo.statistic.sold}"></td>
        <td>
                <span th:each="hall : ${expo.halls}">
                    <p th:text="${hall.name}"></p>
                </span>
        </td>
        <td th:text="${expo.theme.name}"></td>
        <td th:switch="${expo.statistic.tickets}">
            <p th:case="0" th:text="#{sold_out}"></p>
            <p th:default th:text="#{have}"></p>
        </td>
        <td th:if="${expo.statusId eq 1}" th:text="#{active}">
        </td>
        <td th:if="${expo.statusId eq 2}" th:text="#{my_canceled}">
        </td>
        <div sec:authorize="hasAuthority('USER')">
            <td>
                <form method="post" th:action="@{/user/expos/buy/{id}(id=${expo.id})}">
                    <input type="hidden" th:name="expo" th:value="${expo}">
                    <button type="submit" class="btn btn-success btn-sm" th:text="#{buy}"></button>
                </form>
            </td>
        </div>
    </tr>
    </tbody>
</table>
<div th:insert="common/fragments.html :: scriptsExpos"></div>
</body>
</html>