<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{Expos}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<table class="table table-info table-hover" th:fragment="myExpos">
    <h4 class="text-center" th:text="#{Expos}"></h4>
    <thead>
    <tr>
        <th scope="col" th:text="#{expo_name}"></th>
        <th scope="col" th:text="#{expo_date}"></th>
        <th scope="col" th:text="#{expo_time}"></th>
        <th scope="col" th:text="#{expo_price}"></th>
        <th scope="col" th:text="#{sold_tickets}"></th>
        <th scope="col" th:text="#{halls}"></th>
        <th scope="col" th:text="#{theme}"></th>
        <th scope="col" th:text="#{sold_tickets}"></th>
        <th scope="col" th:text="#{status}"></th>
    </tr>
    </thead>
    <tbody th:each="expo : ${myExpos}">
    <tr>
        <td th:text="${expo.name}"></td>
        <td th:text="${expo.expoDate.format(dateFormat)}"></td>
        <td th:text="${expo.expoTime.format(timeFormat)}"></td>
        <td th:text="${expo.price}"></td>
        <td th:text="${expo.statistic.sold}"></td>
        <td>
                <span th:each="hall : ${expo.halls}">
                    <p th:text="${hall.name}"></p>
                </span>
        </td>
        <td th:text="${expo.theme.name}"></td>
        <td th:switch="${expo.statistic.tickets}">
            <p th:case="0" th:text="#{sold_out}"></p>
            <p th:default th:text="#{have}"></p>
        </td>
        <td th:if="${expo.statusId eq 1}" th:text="#{active}">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>