<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:insert="common/fragments.html :: indexScriptsHeader"></div>
<div class="container wrapper">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:text="#{Expos}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{Lang}">
                        <!--                        Lang-->
                    </a>
                    <div th:insert="common/fragments::langSwitch"></div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{More}">
                        <!--                        More-->
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item"
                           th:href="@{/index/expos}" th:text="#{Expos}"></a>
                        <a class="dropdown-item"
                           th:href="@{${'/index/expos'}(size=2,sortBy='statistic_sold')}" th:text="#{Statistic}"></a>
                    </div>
                </li>
            </ul>
            <div th:insert="common/fragments :: searchItems"></div>
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/login" th:text="#{Login}"></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn btn-primary btn-sm" role="button"
                       href="/register" th:text="#{Register}"></a>
                </li>
            </ul>
        </div>
    </nav>
    <div th:insert="common/fragments.html :: informMsg"></div>
    <div th:insert="common/fragments.html :: errMsg"></div>
    <div th:if="${expos != null}">
        <div th:insert="index/expos.html::allExpos"></div>
    </div>
    <div th:if="${searchedExpos != null}">
        <div th:insert="index/searched.html :: searchedList"></div>
    </div>

    <div th:if="${errMSg}" th:text="#{${errMSg}}" style="color: red">
    </div>
<!--    <div th:insert="common/fragments.html :: footer"></div>-->
</div>
<div th:insert="common/fragments.html :: indexScripts"></div>
</body>
</html>